<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
    <style>table th, table td {padding: 5px;} </style>
</head>
<body>
<h1>Car</h1>
<table border="1">
    <tr>
        <th>count</th>
        <th>model</th>
        <th>color</th>
        <th>win</th>
    </tr>
<tr>
    <td><p th:text="${car.getCount()}">VALUE</p></td>
    <td><p th:text="${car.getModel()}">VALUE</p></td>
    <td><p th:text="${car.getColor()}">VALUE</p></td>
    <td><p th:text="${car.getWin()}">VALUE</p></td>
</tr>
    <a href="/cars">Cars</a>

</table>
</body>
</html>






